body
{
    display: grid;
    justify-items: center;
    align-items: center;
}



#container
{
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
}

#container > div
{
    border: 0.5px solid black;
}

.hover
{
    background-color: black;
}