:root
{
    --val: 16;
}

body
{
    background-color: lightgrey;
    display: grid;
    justify-items: center;
    align-items: center;
}

#container
{
    display: grid;
    grid-template-columns: repeat(var(--val), auto);
    grid-template-rows: repeat(var(--val), auto);
    width: 960px;
    height: 960px;
}

#container > div
{
    background-color: white;
    border: 0.5px solid black;
}

.hover
{
    background-color: black !important;
}